.section__contato {
    height: 100vh;
}

.section__contato h2 {
    margin: 40px 0 0 0;

    font-size: 80px;

    text-align: center;
}

.form_contato {
    display: grid;
    grid-template-columns: auto;
}

.form_contato label, input, textarea {
    width: 600px;

    justify-self: center;

    font-size: 24px;
}

.form_contato input, textarea {
    border: 3px solid #999;
    border-radius: 20px;

    padding: 10px;

    font-size: 18px;

    background-color: #111;
}

.form_contato label {
    margin: 22px 0 0 22px;
}

.form_contato input {
    height: 50px;
}

.form_contato textarea {
    height: 130px;
}

.form_contato .button-enviar {
    width: 150px;

    margin: 30px 0;
    padding: 15px;

    justify-self: center;

    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    border: 3px solid #333;
    border-radius: 20px;

    background-color: #111;
}