/* @font-face {
    font-family: 'TT Octosquares Variable'; Substitua 'NomeDaFonte' pelo nome da fonte desejada
    src: url('../../fonts/TT\ Octosquares\ Trial\ Variable.ttf') format('truetype'); Substitua o caminho para o arquivo da fonte
}
*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Iceberg&family=Montserrat:wght@100&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Chakra Petch", sans-serif;

    background: #111;

    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white-color);
}