* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--white-color);
}

:root {
    --bg-header-color: rgba(51, 51, 51, 1);
    --primary-color: #2AF598;
    --white-color: #F2F2F2;
}