footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_link_icon {
    width: 50px;

    margin: 0 5px;
}

.footer_title, .footer_navbar, .footer_paragraph {
    margin: 10px 0;
}