.header {
    width: 80%;
    height: 80px;

    position: fixed;

    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: 20% 60% 20%;

    border: 2px solid var(--primary-color);
    border-radius: 50px;

    background-color: var(--bg-header-color);
}

.header a {
    display: grid;
}

.header__title {
    margin-left: 30px;
    
    justify-self: start;
    align-self: center;   

    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.header__navbar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.header__teme_position {
    position: absolute;

    top: 50%;
    left: 78%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;

    margin-right: 80px;
}

.header__text_teme {
    color: var(--white-color);
}

.header__menu_icon {
    display: none;

    cursor: pointer;
}

/* Hamburguer Menu */

.header__navbar_hamburguer {
    width: 80%;
    height: auto;

    position: fixed;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-header-color);

    border-radius: 0 0 50px 50px;

    display: none;
}

.header__navbar_hamburguer .header__navbar_links, .header_teme_position_hamburguer {
    padding: 30px;
}

.header_teme_position_hamburguer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.open {
    display: flex;
}

/* ------- */

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr 1fr;
    }

    .header__navbar, .header__teme_position {
        display: none;
    }

    .header__menu_icon {
        display: block;
        align-self: center;
        justify-self: end;

        margin-right: 30px;
    }

    /* .header__navbar_hamburguer {
        display: none;
    } */
}