.section__secondary {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #111;
}

.section__secondary_img {
    width: 66%;
    height: 66%;

    justify-self: center;
    align-self: center;

    margin-left: 40px;
}

.section__secondary_texts {
    display: grid;
    grid-template-rows: 33% 40% 1fr;
}

.section__secondary_title {
    justify-self: start;
    align-self: end;

    font-size: 5vw;
}

.section__secondary_paragraph {
    width: 35vw;

    justify-self: start;
    align-self: start;

    font-size: 1.2vw;
}

.section__secondary_button {
    width: 11vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 800;

    background-color: #DDD;
    color: #111;

    border-radius: 1.5vw;
}

/* Responsividade */

@media (max-width: 770px) {
    .section__secondary {
        grid-template-columns: none;
    }

    .section__secondary_img {
        display: none;
    }

    .section__secondary_title {
        justify-self: center;

        font-size: 9vw;
    }

    .section__secondary_paragraph {
        width: 80%;

        margin: 0 auto;

        font-size: 2.5vw;
    }

    .section__secondary_button {
        width: 22vw;
        height: 10vw;

        justify-self: center;

        font-size: 3vw;

        border-radius: 3vw;
    }
}

/* Mobile */

@media (max-width: 430px) {
    .section__secondary_paragraph {
        font-size: 3.5vw;
    }
}

@media (max-width: 330px) {
    .section__secondary_paragraph {
        font-size: 3.9vw;
    }
}